@font-face{
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf');
    font-style: normal;
    font-weight: 400;
  }
  @font-face{
    font-family: 'Open Sans SemiBold';
    src: url('../fonts/OpenSans-SemiBold.ttf');
    font-style: normal;
    font-weight: 600;
  }
@font-face{
    font-family: 'Thasadith Regular';
    src: url('../fonts/Thasadith-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}
@font-face{
    font-family: 'Thasadith Bold';
    src: url('../fonts/Thasadith-Bold.ttf');
    font-style: normal;
    font-weight: 700px;
}
@font-face{
    font-family: 'Major Mono';
    src: url('../fonts/MajorMonoDisplay-Regular.ttf');
    font-style: normal;
    font-weight: 400;
  }
  *{
    font-family: 'Open Sans';
  }