body{
    height: 100%;
    color: #fff;
    font-family: Major Mono;
}
.backdrop{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.637);
    padding: 5px;
    font-size: 25px;
    z-index: 99;
}
.modal{
    text-align: center;
    background-color: #E5B300;
    border-radius: 5px;
    width: 460px;
    max-height: 460px;
    margin: 10px;
    padding: 0px;
}
.closeBtn{
    display: flex;
    justify-content: flex-start;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: "FontAwesome", "Open Sans";
    color: #fff;
    font-size: 20px;
}