.BlogLovWeb--container{
    margin: 0;
    padding: 0;
}
.BlogLovWeb--header-img{
    width: 100%;
}
.BlogLovWeb--content-container{
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    background-color: #779ECC;
    height: 100%;
    
}
.BlogLovWeb--footer{
    background-color: #fff;
    color: #000;
    border-top: 20px #779ECC solid;
    padding: 30px;
    text-align: center;
}